# Ignore compiled binaries
*.exe
*.o

# Ignore log files
*.log

# Ignore all files in the "logs" directory
/logs/

# Ignore config.json in any directory
**/config.json

# Negate ignoring specific files
!important.log
/node_modules

.env